* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Saira Extra Condensed",
		serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #343a40;
}

h1 {
	font-size: smaller;
	line-height: 5.5rem;
}

h2 {
	font-size: smaller;
}

.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #000000;
	height: 10%;
	text-align: center;
	display: flex;
}
.tab {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 17rem;
	height: 100vh;
	background-color: #000000;
	color: white;
	justify-content: center;
	text-align: center;
	transform: translateX(-300%);
	transition: transform 0.5s;
}

.tablinks {
	margin-top: 2rem;
	flex-direction: column;
	width: inherit;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 15.5px;
	color: #a0a2a4;
	background-color: inherit;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 30%;
}

.tablinks:hover {
	color: #ffffff;
}

.tablinks.active {
	color: #ffffff;
}

.tablinksfooter {
	margin-top: 1rem;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 15.5px;
	color: #a0a2a4;
	background-color: inherit;
	font-weight: 600;
	text-transform: uppercase;
}

.tablinksfooter:hover {
	color: #ffffff;
}

.tablinksfooter.active {
	color: #ffffff;
}
.tabwrapper {
	width: 100%;
	height: 100vh;
	background-color: #ffffff25;
	border-radius: 2rem;
	border: #000000 0.5rem solid;
}
.tabcontent {
	margin-left: 0.5%;
	padding-left: 5rem;
	padding-top: 5rem;
	color: #ffffff;

	margin-bottom: auto;
	margin-top: auto;
	animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; /* don't forget to set a duration! */
}
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Saira Extra Condensed",
		serif;
	font-size: 1.35rem;
}

.list-social-icons a {
	color: #495057;
}
.list-social-icons a:hover {
	color: #bd5d38;
}
.list-social-icons a .fa-lg {
	font-size: 1.5rem;
}

.list-icons {
	font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
	color: #bd5d38;
}

.downloadbtn {
	padding: 8px;
	border-radius: 0.25rem;
	background-color: #495057;
	color: white;
	border: none;
	text-decoration: none;
}
.downloadbtn:hover {
	background-color: #bd5d38;
}
.fa-star {
	color: #495057;
}
.checked {
	color: #bd5d38;
}
@media screen and (min-width: 1000px) {
	.tab {
		transform: translateX(0);
	}
	.tabcontent {
		margin-left: 3%;
		padding-left: 17rem;
		padding-top: 5rem;
	}
	.tabwrapper {
		width: 100%;
	}
	/* .sidebar-nav {
		transform: translateX(0);
	} */

	.site-footer {
		transform: translatey(200%);
	}
	h1 {
		font-size: 5rem;
		line-height: 5.5rem;
	}

	h2 {
		font-size: 3.5rem;
	}
}
