* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", serif;
	padding-top: 54px;
}
.header {
	top: 0;
	background-color: #000000;
	text-align: right;
	height: 60px;
}
.toggle__button {
	position: fixed;
	display: inline-block;
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 8px;
	color: #ffffff;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.toggle__button:hover {
	background-color: #000000;
	color: #ffffff;
}
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px;
	background-color: #000000;
	height: 10%;
	text-align: center;
}
.wrapper {
	display: flex;
}
.container {
}
.sidebar {
	background-color: #000000;
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.5s;
	height: 100%;
	padding-right: 10px;
	padding-top: 120px;
	top: 0;
}

.sidebar-nav ul li {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 30px;
}
.sidebar--active {
	transform: translateX(0);
}

.sidebar-nav ul {
	list-style: none;
}

.sidebar-nav a {
	text-decoration: none;
	text-align: center;
	color: #a0a2a4;
}

.sidebar-nav a:hover {
	color: #ffffff;
}

.rounded-circle {
	height: 180px;
	border-radius: 50%;
	border: solid 7px #2d2d2d;
}

@media screen and (min-width: 1000px) {
	.sidebar {
		transform: translateX(0);
		padding-right: 50px;
	}

	/* .sidebar-nav {
		transform: translateX(0);
	} */

	.site-header {
		transform: translatey(-150%);
	}
}
